/* setup fontface*/

@font-face {
  font-family: 'bebas_neueregular';
  src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Style utama */
body {
  font: 18px/36px 'bebas_neueregular' ;
  background-color: #ddd;
}

/* Header */
h1 {
  text-align: center;
  margin: 50px 0px;
  font-size: 70px;
  text-shadow: 8px 7px 5px black, -2px -2px 5px black;
  color: #ddd;
}

.container {
  width: 600px;
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 2px rgba(53, 52, 52, 0.7),-1px -1px 3px 2px rgba(134, 132, 132,0.7) ;
}

/* Border Radius */
.gallery li, .gallery li span, .gallery li img {
  border-radius: 50%;
} 
/* Lightbox */
.gallery li {
  width: 120px;
  height: 120px;
  float: left;
  margin: 10px 6px 10px 15px ;
  /* overflow: hidden; */
  position: relative;
  border: 3px solid grey;
}

.gallery li span {
  display: block;
  width: 120px;
  height: 120px;
  top: 0;
  background-color:rgb(200,200,200,0.5) ;
  position: absolute;
  line-height: 120px;
  text-align: center;
  text-shadow: 1px 1px 1px ;
  color: #333;
  opacity: 0;
  transition: 800ms;
}
.gallery li span:hover {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}


/* clear */
.clear {
  clear: both;
}